{% extends "biscuitsrk/base.html" %}
{% block content %}
<style type="text/css">
	.center{
		text-align: center;
	}
	.homepage{
		font: 'Roboto';
	}
</style>
<br><br><br>
		<p>BISCUITS</p>

<p>Build and Simulate Circuits</p>

<h1 dir="ltr" >Objective:</h1>

<p>Design relevant circuits for the provided questions. The fastest solver wins!</p>

<h1 dir="ltr" >Outline:</h1>

<p>The competition will follow a cryptic hunt format. The participants will have to build circuits relevant to the given questions and share their links on the website. Note that subsequent levels will be unlocked only after the submission has been evaluated and marked correct.</p>

<p>Participants will have to use the following platforms to design the circuits:</p>

<ul>
<li><p><a href="http://www.tinkercad.com/" >TinkerCad</a> </p>

</li>
<li><p><a href="https://create.arduino.cc/editor" >Arduino IDE</a></p>

</li>
<li><p><a href="https://www.falstad.com/circuit/" >Falstad </a></p>

</li>
</ul>

<p>The participants will be notified which circuit simulator is to be used for each level. </p>

<p>The questions will be based on circuit analysis, logic gates, sensors, code debugging (Arduino/C), basic computer architecture and electronic signals.</p>

<br>
<br>
<br>
<br>
<br>
<br>
<h1 dir="ltr" >Rules:</h1>

<ul>
<li><p>Teams per school: 1 </p>

</li>
<li><p>Members per team: 2 </p>

</li>
<li><p>Eligibility: open to all classes</p>

</li>
<li><p>Participants will submit their answers by sharing a link to their circuit .</p>

</li>
<li><p>After uploading a link, the participants won’t be able to repetitively submit another for immediate 5 minutes. </p>

</li>
<li><p>The event will last for 48 hours, from &amp;lt;dates and time&amp;gt;  or until a team completes the final level.</p>

</li>
<li><p>In case of a tie, a rapid fire round will be conducted where the team which is first to complete the given question wins the position. </p>

</li>
</ul>
{% endblock %}
