{% extends "biscuitsrk/base.html" %}
{% block content %}
{{ error }}

<h1 class="text-center mt-5" id="level">Level : {{ question.level }}</h1>
<h2 class="text-center mt-5" id="title">{{ question.title }}</h2>
<h3 class="text-center mt-5" id="full">{{ question.description }}</h3>
  <form method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="response">Your Answer</label>
        <input type="text" name="answer" class="form-control" id="response">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% if u.result == False %}
<p> Sorry your previous answer was incorrect<br>
<div class="alert alert-danger" role="alert">
	Your previous answer:- {{u.mostrecentanswer}}<br>
{% if u.response != "" %}
Our response: - {{u.response}}
{% endif %}
</div>
{% endif %}
{% endblock %}
